<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio - Administration</title>
    <link rel="stylesheet" href="../css/Admin.css">
</head>

<body class="light-mode">
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Mon Portfolio</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../#about">À Propos</a></li>
                <li><a href="../../#project">Projets</a></li>
                <li><a href="../../#testimonials">Témoignages</a></li>
                <li><a href="../../#contact">Contact</a></li>
                <li><a href="../../experience/">Experience</a></li>
                {{ if not .IsUserLogged }}
                <li><a href="/login" class="btn-login">Connexion</a></li>
                {{ else }}
                <li><a href="/admin" class="btn-formation">Admin</a></li>
                {{ end }}
            </ul>
            <button id="theme-toggle" class="theme-toggle">Mode Sombre</button>
        </nav>
    </header>
    <section class="admin-page">
        <ul class="list-admin">
            <li id="title-list">Menu</li>
            <li><a href="/admin/experience">Experience</a></li>
            <li><a href="/admin/project">Projets</a></li>
            <li><a href="/admin/formation">Formations</a></li>
        </ul>
        <div class="Modif">
            <h1>Modification des experiences<button id="post-button" class="custom-button btn-post">Ajouter une expérience</button></h1>
            <!-- Ajout d'une expérience --> 
            <h1>Mes Experiences : </h1>
            <div class="modal" id="post-modal">
                <div class="modal-content">
                    <span class="close" id="close-modal">&times;</span>
                    <form method="POST">
                        <label for="nom">Nom:</label><br>
                        <input type="text"  name="Nom" required><br>
                        <label for="entreprise">Entreprise :</label><br>
                        <input  name="entreprise" required></input><br>
                        <label for="poste">Poste :</label><br>
                        <input type="text" name="poste" required><br>
                        <label for="dateDebut">Date de Début :</label><br>
                        <input type="date"  name="dateDebut" required><br>
                        <label for="dateFin">Date de Fin :</label><br>
                        <input type="date" name="dateFin" required><br>
                        <input type="submit" value="Post" class="custom-button"><br>
                    </form>
                </div>
            </div>
            <!-- Affichage des expériences -->
            <div id="posts-container">
                {{range .DataExperienceList}}
                <div class="experience-preview" onclick="window.location.href='/admin/experience/{{.ID}}'">
                    {{ .Nom }} 
                </div>
                {{else}}
                <p>Pas d'expérience ajoutée</p>
                {{end}}
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Mon Portfolio. Tous droits réservés.</p>
    </footer>
    <script src="../js/admin.js"></script>
</body>
</html>
