<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio - Administration</title>
    <link rel="stylesheet" href="../css/Admin.css">
</head>

<body class="light-mode">
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Mon Portfolio</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#about">À Propos</a></li>
                <li><a href="#projects">Projets</a></li>
                <li><a href="#testimonials">Témoignages</a></li>
                <li><a href="#contact">Contact</a></li>
                {{ if not .IsUserLogged }}
                <li><a href="/login" class="btn-login">Connexion</a></li>
                {{ else }}
                {{ end }}
            </ul>
            <button id="theme-toggle" class="theme-toggle">Mode Sombre</button>
        </nav>
    </header>

    <section class="admin-page">
        <ul class="list-admin">
            <li id="title-list">Menu</li>
            <li><a href="/admin/experience" class="experience">Experience</a></li>
            <li><a href="/admin/project">Projets</a></li>
            <li><a href="/admin/formation">Formations</a></li>
        </ul>
        
        <div class="Modif">
            <h1>Modification des formations<button id="post-button" class="custom-button btn-post">Ajouter une formation </button></h1> 
            <h1>Mes Formations :</h1>
            <div class="modal" id="post-modal">
                <div class="modal-content">
                    <form method="POST">
                        <label for="nom">Nom de formation :</label><br>
                        <input type="text"name="NomDeFormation" required><br>
                       
                        <label for="formation">Formation :</label><br>
                        <input name="formation" required></input><br>
                        <label for="etablissement">Etablissement :</label><br>
                        <input type="text" name="etablissement" required><br>
                        <label for="dateDebut">Date de Début :</label><br>
                        <input type="date" name="dateDebut" required><br>
                        <label for="dateFin">Date de Fin :</label><br>
                        <input type="date" name="dateFin" required><br>
                        <input type="submit" value="Post" class="custom-button"><br>
                    </form>
                </div>
            </div>

            <!-- Affichage des expériences -->
            <div id="posts-container">
                {{range .DataFormationList}}
                <div class="experience-preview" onclick="window.location.href='/admin/formation/{{.ID}}'">
                    {{ .Nom }} 
                </div>
                {{else}}
                <p>Pas de formation ajoutée</p>
                {{end}}
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Mon Portfolio. Tous droits réservés.</p>
    </footer>
    <script src="../js/admin.js"></script>
</body>
</html>
