<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio</title>
    <link rel="stylesheet" href="../css/project.css">
</head>
<!-- En-tête avec navigation -->
<header>
    <nav class="navbar">
        <div class="logo">
            <h1>Mon Portfolio</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/">À Propos</a></li>
            <li><a href="/project/" class="btn-project">Projets</a></li>
            <li><a href="/">Témoignages</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/experience/" class="btn-experience">Experience</a></li>
            <li><a href="/formation/" class="btn-formation">Formation</a></li>
            {{ if not .IsUserLogged }}
                <li><a href="/login" class="btn-login">Connexion</a></li>
                {{ else }}
                <li><a href="/admin" class="btn-formation">Admin</a></li>
                {{ end }}
        </ul>
        <button id="theme-toggle" class="theme-toggle">Mode Sombre</button>
    </nav>
</header>

<!-- Section d'accueil (Hero) -->
<section id="hero" class="hero-section">
    <div class="hero-content">
        <h2>Bienvenue sur mon portfolio</h2>
        <p>Je suis un développeur passionné, spécialisé en développement Full Stack.</p>
        <a href="../#about" class="btn-primary">Découvrir Plus</a>
    </div>
</section>

<hr class="trait_dessus"></hr>
<!-- Section project -->
<section id="projects" class="projects-section">
    <h2>Mes Projets</h2>
    <div class="projects-grid">
        {{range .DataProjectList}}
        <div class="project-card post-preview">
            <h3>{{ .NomProjet}} - {{ .Langage}}</h3> 
            <p><strong>Lien du Repo :</strong> {{.LienRepo}}</p>
        </div>
        {{else}}
        <p>Aucun projet pour le moment</p> 
        {{end}}
    </div>
</section>


<!-- Section À propos -->


<hr class="trait_dessus"></hr>




<footer>
    <p>&copy; 2023 Mon Portfolio. Tous droits réservés.</p>
    <script src="../js/index.js"></script>

</footer>

